[user]
	name = Nikita Rushmanov
	email = nikita.rushmanov@woven-planet.global
[includeIf "gitdir:~/code/"]
	path = ~/code/.gitconfig
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore-global
[alias]
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[checkout]
	defaultRemote = origin
[remote "origin"]
	fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
	fetch = +refs/merge-requests/*/head:refs/remotes/origin/mr/*
